@import "../../styles/colorTheme";
.textInput {
    display: flex;
    flex-direction: column;
}
.checkboxInput {
    label {
        margin-left: 15px;
        font-style: normal;
    }
}

.radioInput {
    display: flex;
    width: max-content;
    margin-bottom: 25px;
    margin-right: 25px;
    border: 1px solid $primary;
    border-radius: 5px;
    color: $primary;
    margin-bottom: 10px;

    input[type="radio"] {
        display: none;
    }
    .label1,
    .label2 {
        display: block;
        transition: 0.5s;
        color: $primary;
        margin: 0rem;
    }

    span {
        display: flex;
        width: 130px;
        padding: 6px 2px 2px 2px;
        justify-content: center;
        align-items: center;
        font-weight: normal;
    }

    input:checked + label {
        background-color: $primary;
        color: white;
        transition: 0.5s;
    }
    input:checked + .label1 {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    input:checked + .label2 {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
.inputFileContainer {
    position: relative;
    display: flex;
    .inputFileTrigger {
        max-width: max-content;
        padding: 10px 20px;
        background-color: #fff;
        border: solid 1px $primary;
        border-radius: 5px;
        text-align: center;
        color: $primary;
        font-weight: normal;
        margin: 10px 0;
        cursor: pointer;
    }
    .inputFile {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 225px;
        opacity: 0;
        padding: 14px 0;
        cursor: pointer;
    }
    .inputFile:hover + .inputFileTrigger,
    .inputFile:focus + .inputFileTrigger,
    .inputFileTrigger:hover,
    .inputFileTrigger:focus {
        background-color: $primary;
        color: #fff;
    }

    p {
        display: flex;
        align-items: center;
        color: $dark;
        &:not(:empty) {
            margin: 5px 0;
            margin-left: 20px;
        }
        span {
            margin-left: 3px;
            font-style: italic;
            color: $primary;
        }
        .isInvalid {
            color: $error;
        }
    }
}

@media (max-width: 414px) {
    .textInput input {
        max-width: 85%;
    }
    .firstLabelRadioInput {
        max-width: 90%;
    }
    .inputFileContainer {
        max-width: 90%;
        flex-direction: column;
    }
    .radioInput {
        flex-direction: column;
         input:checked + .label1 {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    input:checked + .label2 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    }
}

