@import "../../styles/_colorTheme.scss";

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    background-color: $bg-navbar;
     border-bottom: 1px solid $grey;
    a {
        margin: 0 10px;
        color: $secondary;
        text-decoration: none;
        &:hover {
            color: $info;
        }
    }
}
