@import "../../styles/_colorTheme.scss";

.navbar {
    padding: 10px;
    border-bottom: 1px solid $grey;
    color: $secondary;
    font-weight: 500;
    background-color: $bg-navbar;
    .reactIcons {
        cursor: pointer;
    }
    .divMenu {
        display: flex;
        justify-content: space-between;
        a {
            margin: 0 10px;
            font-size: 16px;

            color: $secondary;
            text-decoration: none;
            &:hover {
                color: $info;
            }
        }
    }
    .divHamburgerMenu {
        display: none;
    }
    .divCloseMenu {
        display: none;
    }
}
@media (max-width: 961px) {
    .navbar {
        .divHamburgerMenuHidden{
            display: none;
        }
        .divHamburgerMenu {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            &:hover {
                color: $info;
            }
        }
        .divMenu {
            display: none;
        }
        .divMenuOpen {
            display: flex;
            flex-direction: column;
            a {
                font-size: 17px;
            }
        }
        .divCloseMenu {
            display: none;
        }
        .divCloseMenuOpen {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
        }
    }
}
