
@import '../../styles/_colorTheme.scss';

.button {
    width: max-content;
    min-width: 100px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border: solid 1px $primary;
    border-radius: 5px;
    color: $primary;
    cursor: pointer;

    &:hover {
        background-color: $primary;
        color: #fff;
    }
}
