$dark: #071013ff;
$primary: #275dadff;
$secondary : #327186;
$light: #eaf2efff;
$warning : #960200ff;
$danger : #E00400;
$success: #4ED0D0;
$grey: rgb(146, 150, 151);


$bg-navbar: #FFFF;
$content-bg: #FFFF;