$dark: #071013;
$primary: #275dad;
$secondary : #327186;
$darkSecondary : #245262;
$light: #eaf2efff;
$warning : #960200;
$error : #E00400;
$success: rgb(62, 212, 157);

$grey: #ced4da;
$info: #929697;

$bg-navbar: #FFFF;
$content-bg: #FFFF;

$white:#FFFF;  

$titleFont: "Montserrat", sans-serif;
$globalFont: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
