@import "./variableTheme";

.AddMissionForm {
    .checkbox {
        label {
            margin-left: 15px;
            font-style: normal;
        }
    }
    .missionDate {
        label {
            margin: 0 0.5rem;
            padding: 2px;

            &:first-child {
                margin-left: 0;
            }
        }
        input[type="date"] {
            padding: 2px;
            text-align: center;
        }
    }
    .limiteGroupCandidacy {
        display: flex;
        label {
            margin-right: 5px;
            padding: 2px;
        }
        input[type="number"] {
            width: 5rem;
            padding: 2px;
            text-align: end;
        }
    }
    .btn {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .AddMissionForm {
        .limiteGroupCandidacy {
            flex-direction: column;
            label{
                margin-top: 20px;
            }
            input[type="number"] {
                width: 50%;
                margin: 0 auto 20px auto;
            }
        }
    }
}
