@import "../styles/colorTheme";

.identification {
    display: flex;

    .login,
    .register {
        width: 50%;
    }

    .login {
        padding: 2rem;
    }
    .register {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        button {
            max-width: 275px;
        }
    }
}

@media (max-width: 961px) {
    .identification {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .login,
        .register {
            width: 100%;
        }
        .register {
            height: 25vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}
@media (max-width: 600px) {
    .identification {
        .login {
            padding: 1rem;
        }
        .register {
            height: 35vh;
        }
    }
}
@media (max-width: 375px) {
    .identification {
.register {
content: space-evenly;

        button {
            max-width: 175px;
        }
    }
    }
}
